@model StudentApp.Models.Students

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h4>Students</h4>
            <hr />
            <div>
                @Html.LabelFor(model => model.FirstName)
                <div>
                    @Html.EditorFor(model => model.FirstName)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.LastName)
                <div>
                    @Html.EditorFor(model => model.LastName)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.Gender)
                <div>
                    Male: @Html.RadioButtonFor(model => model.Gender, "male")
                    Female: @Html.RadioButtonFor(model => model.Gender, "female")
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.BirthDate)
                <div>
                    @Html.TextBoxFor(model => model.BirthDate, "{0:d MMMM yyyy}")
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
