@model StudentApp.Models.Students

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div>
        <h4>Student Detail</h4>
        <hr />
        
        <div class="form-group">
            @Html.LabelFor(model => model.SerialId,"Serial No")
            @Html.TextBoxFor(model => model.SerialId, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "First Name")
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "Last Name")
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email")
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, "Gender:")
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate)
            @Html.TextBoxFor(model => model.BirthDate, "{0:d MMMM yyyy}", new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
