@model StudentApp.Models.Students

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div>
        <h4>Student Detail</h4>
        <hr />
        
        <div>
            @Html.LabelFor(model => model.SerialId,"Serial No")
            <div>
                @Html.TextBoxFor(model => model.SerialId, new { @disabled = "disabled" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.FirstName, "First Name")
            <div>
                @Html.TextBoxFor(model => model.FirstName, new { @disabled = "disabled" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.LastName, "Last Name")
            <div>
                @Html.TextBoxFor(model => model.LastName, new { @readonly = "disabled" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Email, "Email")
            <div>
                @Html.TextBoxFor(model => model.Email, new { @disabled = "disabled" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Gender, "Gender:")
            <div>
                @Html.DisplayFor(model => model.Gender)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.BirthDate)
            <div>
                @Html.TextBoxFor(model => model.BirthDate, "{0:d MMMM yyyy}")
            </div>
        </div>
    </div>
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
