@model StudentApp.Models.Students

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h4>Students</h4>
            <hr />
            <div>
                @Html.LabelFor(model => model.firstName)
                <div>
                    @Html.EditorFor(model => model.firstName)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.lastName)
                <div>
                    @Html.EditorFor(model => model.lastName)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.age)
                <div>
                    @Html.EditorFor(model => model.age)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.email)
                <div>
                    @Html.EditorFor(model => model.email)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.gender)
                <div>
                    @Html.EditorFor(model => model.gender)
                </div>
            </div>
    
            <div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
