@model IEnumerable<StudentApp.ViewModels.StudentFormViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentIndex</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Department Name")
            </th>
            <th>
                @Html.DisplayName("Department Location")
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StudentDetails.FirstName) @Html.DisplayFor(modelItem => item.StudentDetails.LastName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDetails.Gender)
            </td>
            <td>
                @{
                    var age = DateTime.Now.Year - item.StudentDetails.BirthDate.Year;
                    @Html.DisplayFor(modelItem => age);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDetails.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDetails.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentDetails.SerialId }) |
                @Html.ActionLink("Details", "Details", new { id=item.StudentDetails.SerialId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentDetails.SerialId })
            </td>
        </tr>
    }
    </table>
</body>
</html>
